
// Colors

$white: #ffffff;
$blue: #132576;
$dark-blue: #182044;
$basic-blue-light: #1d2e5b;
$basic-yellow: #ffd74b;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;